@use 'styles/sass' as *;

.header {
  $self: &;
  margin-bottom: get-unit(2);

  &__title-row {
    display: flex;
    align-items: center;
  }

  &__title {
    margin-bottom: 0;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }
}
