@use 'styles/sass' as *;

.members {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: get-unit(2);

  @include sm() {
    grid-template-columns: repeat(1, 1fr);
  }
}

.member {
  border-radius: var(--border-radius);

  &__name {
    text-transform: uppercase;
    font-size: 1.25rem;
  }
}
