@use './variables' as *;

@mixin box-shadow {
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
}

@mixin container-background {
  background-image: linear-gradient(
    to top,
    rgba(15, 16, 20, 0.85),
    rgba(19, 23, 37, 0.85),
    rgb(22, 29, 54, 0.85)
  );
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

// Extra Small devices
@mixin xs {
  @media (max-width: #{var(--screen-xs-max)}) {
    @content;
  }
}

// Small devices
@mixin sm {
  @media (max-width: #{var(--screen-sm-max)}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{var(--screen-md-max)}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{var(--screen-lg-max)}) {
    @content;
  }
}

@mixin gradient-background {
  background-image: linear-gradient(
    to right top,
    rgba(15, 16, 20, 0.75),
    rgba(19, 23, 37, 0.75),
    rgba(22, 29, 54, 0.75),
    rgba(26, 35, 72, 0.75),
    rgba(31, 41, 90, 0.75),
    rgba(32, 59, 115, 0.75)
  );
}
